
.enlaces-container {
    display: flex;
    align-items: center;
    width: 100%
}

.enlaces-container a {
    flex-grow: 1;
    width: 25vw;
    display: flex;
    padding: 15px 20px;
    margin: 8px 0;
    text-align: center;
    background-color: rgb(255, 115, 0);
    text-decoration: none;
    color: #fff;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
}

.icon-link {
    margin-right: 10px;
    flex-shrink: 0;
    color: white;
    font-size: 1.5em;
  }

.icon-delete {
    color: rgba(255, 0, 0, 0);
}

.enlaces-container a:hover {
    background-color: rgb(120, 211, 46);
}

@media (max-width: 768px) {
    .enlaces-container a {
        width: 60vw;
    }
}

