footer {
    display: flex;
    width: 100%;
    flex-direction: column;
    background-color: #333;
    height: 20vh;
    align-items: center;
    justify-content: center;
}

.p-footer {
    color: #fff;
}

.a-footer {
    color: #fff;
    text-decoration: none;
    text-decoration: underline;
}

@media (max-width: 768px) {
    footer {
        width: 100%;
    }
}